<%= form_for(@cms_info) do |f| %>
  <% if @cms_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cms_info.errors.count, "error") %> prohibited this cms.info from being saved:</h2>

      <ul>
      <% @cms_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title ,'信息标题' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category_id ,'栏目类别'%>
    <%= f.select :category_id,@cms_categories.collect {|p| [ p.full_name, p.id ]}%>
  </div>
  <div class="field">
    <%= f.label :cover_picture_file ,'信息封面图'%>
    <%= f.file_field :cover_picture_file %>
  </div>  
  <div class="field">
    <%= f.label :description ,'信息摘要'%>
    <%= f.text_area :description , :rows=>"3"%>
  </div>
  <div class="field">
    <%= f.label :url ,'相关URL'%>
    <%= f.text_field :url,size:"65" %>
  </div>
    <script type="text/javascript">
    $(document).ready(
      function(){
      var csrf_token = $('meta[name=csrf-token]').attr('content');
      var csrf_param = $('meta[name=csrf-param]').attr('content');
      var params;
      if (csrf_param !== undefined && csrf_token !== undefined) {
        params = csrf_param + "=" + encodeURIComponent(csrf_token);
      }

      $('#redactor').redactor(
        { "imageUpload":"/redactor_rails/pictures?" + params,
          "fileUpload":"/redactor_rails/documents?" + params,
          "autoresize":"true",
          "lang":'zh_cn',
          "minHeight": 200,
          "buttonSource": true,
          "plugins": ['table','video','fontcolor','fontsize','fontfamily','fullscreen']
        } 
      );

    });
  </script>

   <div class="field" >
    <%= f.label :content , "信息内容" %>
    <%= f.text_area :content , :id=>"redactor",:rows => "15" %>
  </div>

  <div class="field">
    <%= f.label :attachment_file ,'信息附件'%>
    <%= f.file_field :attachment_file %>
  </div>

  <div class="field">
    <%= f.label :is_enabled ,'是否可用'%>
    <%= f.check_box :is_enabled %>
  </div>
  <div class="field">
    <%= f.label :the_order ,'排列顺序'%>
    <%= f.number_field :the_order %>
  </div>
    <div class="field">
    <%= f.label :is_recommend ,'是否推荐'%>
    <%= f.check_box :is_recommend %>
  </div>
    <div class="field">
    <%= f.label :is_sticky ,'是否置顶'%>
    <%= f.check_box :is_sticky %>
  </div>
  
  <div class="form-actions">
    <%= f.submit " 提交 ",:class => 'btn btn-primary',data: {disable_with: '正在提交...'}%>
    &nbsp;&nbsp;
    <%= link_to '返回', cms.infos_path,:class => 'btn btn-default' %>
  </div>
<% end %>
